html * {
  font-family: 'Source Sans Pro', sans-serif;
  color: #404040;
}

body {
  background: #c2c2c2 linear-gradient(rgba(108, 54, 173, 0.1), rgba(194, 194, 194, 0)) center 56px;
  min-height: 100vh;
}

.container {
  width: 1060px;
}

#app {
  padding-bottom: 40px;
  min-width: 1280px;
}