@mixin btn-colored-base {
  border: none;
  color: #ffffff;
}

.btn {
  padding: 0 5px;
  background: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  height: 22px;
  color: rgba(64, 64, 64, 0.75);
  line-height: 20px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);

  &:hover {
    cursor: pointer;
  }

  &-disabled {
    &:hover {
      cursor: default;
    }
  }

  &-big {
    height: 40px;
    padding: 0 28px 0 27px;
    font-size: 14px;
  }

  &-purple {
    @include btn-colored-base;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(0deg, #7a3dc6, #b65ae2);
  }

  &-green {
    @include btn-colored-base;
    box-shadow: none;
    background: #00905e;

    &-gradient {
      @include btn-colored-base;
      background-image: linear-gradient(0, #00905e, #00c78c);
      box-shadow: 0 0 0 1px adjust_color(#00754d, $alpha: -0.2);
    }
  }
}