.gamespot {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  padding: 40px 0 0;

  &-title {
    color: #262626;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
  }

  &-content {
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 370px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
  }

  &-gameOfTheWeek {
    position: absolute;

    &.hide {
      display: none;
    }
  }
}