.gamelist {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

  &-item {
    width: 196px;
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #dedede;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);

    &.owned {
      .gamelist-item-title-text {
        color: adjust_color(#212121, $alpha: -0.5);
      }
    }

    &-image {
      align-self: flex-start;
      width: 100%;
      height: 110px;
    }

    &-title {
      width: 100%;
      height: 32px;
      box-sizing: border-box;
      padding: 8px 8px 0 9px;
      flex: auto;

      &-text {
        color: #212121;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 14px;
        font-weight: 600;
      }
    }

    &-actions {
      text-align: right;
      align-self: flex-end;
      width: 100%;
      box-sizing: border-box;
      padding: 7px 8px 8px 8px;

      .btn + .btn {
        margin-left: 6px;
      }

      &-discount {
        &:hover {
          cursor: default;
        }
      }

      &-button {
        width: 68px;

        &:hover {
          & .hovered {
            display: inline;
          }
          & .unhovered {
            display: none;
          }
        }

        & .hovered {
          display: none;
        }
        & .unhovered {
          display: inline;
        }
      }
    }
  }
}