.header {
  position: relative;
  height: 56px;
  background: #dedede;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15), 0 1px 15px 0 rgba(0, 0, 0, 0.15);

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 100) 100%);
    opacity: 0.5;
  }

  &-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
  }

  &-container {
    display: flex;
    justify-content: space-between;
  }

  &-logo {
    align-self: flex-start;
    display: flex;
    height: 100%;

    &-image {
     align-self: center;
    }
  }
}