.cart {
  position: relative;

  &.active {
    .cart-toggle {
      background: #f7f7f7;
    }

    .cart-content-wrapper {
      visibility: visible;
      opacity: 1;
    }

    &::after {
      content: '\00d7';
      display: block;
      position: absolute;
      top: 6px;
      right: 6px;
      width: 12px;
      height: 12px;
      line-height: 12px;
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &-toggle {
    height: 100%;
    width: 56px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    border-right: 1px solid rgba(0, 0, 0, 0.08);
    transition: background 0.1s linear;

    &:hover {
      cursor: pointer;
      background: #f7f7f7;
    }

    &-badge {
      height: 15px;
      line-height: 15px;
      font-size: 14px;
      align-self: center;
      padding-left: 20px;
      background: url('/assets/img/svg/cart.svg') no-repeat left center;
    }
  }

  &-content {
    box-sizing: border-box;
    background: #f7f7f7;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    width: 370px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15);

    &-wrapper {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s ease-out;
      margin: 0 -15px;
      padding: 0 15px 15px;
      overflow-y: hidden;
      position: absolute;
      top: 100%;
      right: 0;
    }

    &-header {
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      color: #1a1a1a;
      height: 60px;
      line-height: 60px;
      box-sizing: border-box;
      padding: 0 11px 0 9px;
      display: flex;
      justify-content: space-between;

      &-count {
        flex: 1;
      }

      &-actionButton {
        align-self: center;

        * + & {
          margin-left: 10px;
        }
      }
    }
  }

  &-list {

    &-wrapper {
      box-sizing: border-box;
      border-top: 1px solid rgba(0, 0, 0, 0.08);
      overflow-y: auto;
      max-height: 211px;
    }

    &-item {
      box-sizing: border-box;
      padding: 5px 11px 5px 5px;
      height: 70px;
      display: flex;
      align-items: center;
      font-weight: 600;

      & + & {
        border-top: 1px solid rgba(0, 0, 0, 0.08);
      }

      &-image {
        width: 100px;
        height: 60px;
      }

      &-title {
        display: flex;
        flex-direction: column;
        flex: 1;
        box-sizing: border-box;
        padding-left: 10px;
        overflow: hidden;

        &-text {
          text-transform: uppercase;
          font-size: 14px;
          line-height: 1;
          color: #212121;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &-price {
        font-size: 13px;
        width: 50px;
        text-align: right;
        color: rgba(64, 64, 64, 0.75)
      }

      &-remove {
        display: none;
        padding: 0;
        background: none;
        outline: none;
        border: none;
        align-self: flex-start;
        line-height: 1;
        font-size: 12px;
        color: adjust_color(#212121, $alpha: -0.15);

        .cart-list-item:hover & {
          display: block;
        }

        .cart-list-item-title-text + & {
          margin-top: 7px;
        }

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }

}