@import "reset";
@import "font";
@import "base";
@import "header";
@import "header_cart";
@import "buttons";
@import "gamespot";
@import "gamespot_gameslist";

/* Not so secret */
#secret-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

#secret-key {
  height: 1rem;
  display: inline;

  &:hover {
    cursor: pointer;
  }
}